google-generativeai
pandas
requests
PySimpleGUI
python-dotenv
schedule
tqdm
typing-extensions
langchain-openai
langchain-experimental
yfinance
praw
feedparser
stockstats
eodhd
langgraph
chromadb
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
pytz
redis
chainlit
rich
questionary
langchain_anthropic
langchain-google-genai
